@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container py-5">
    <div class="py-3">
        <img src="~/assets/web-process.png" class="img-fluid w-100 d-block"/>
    </div>
</div>
